{% import 'widgets.html' as widgets %}

{% extends "layout.html" %}
{% set active_page = 'exercises' -%}


{% block pagecontent %}

<div class="page-title">
    <h1>Add an exercise</h1>
    <p></p>
    <hr>
</div>

{{ widgets.form_errors(form) }}
<form class="form add-exercise" method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label }}:
        {{ form.name(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.description.label }}:
        {{ form.description(class="form-control", rows="3") }}
    </div>
    <button type="submit" class="btn btn-default">Add Exercise</button>
</form>
{% endblock %}