{% import 'widgets.html' as widgets %}

<!doctype html>
<html lang="en">
    {{ widgets.siteHead() }}
    <body id="loginPage">
      <div class="container" id="page-title">
          <div class="signin">
              <h2>Exercise DB</h2>
              <ul>
                  <li>
                  <a class="twitter-btn" href="{{ url_for('login') }}?useTwitter=1">
                    <i class="fa fa-twitter"></i>
                     <span>Sign In with Twitter</span>
                  </a>
                  </li>
              </ul>
          </div>
      </div>
    </body>
</html>
