{% macro siteHead() -%}
    <head>
        <title>Just an Exercise DB</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Rambla:700' rel='stylesheet'/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
        <link rel='stylesheet' href="{{ url_for('static', filename='bower_components/spectrum/spectrum.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/pickadate/lib/themes/default.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/pickadate/lib/themes/default.date.css') }}">
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='bower_components/handlebars/handlebars.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/pickadate/lib/picker.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/pickadate/lib/picker.date.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/spectrum/spectrum.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/highcharts/highcharts.js') }}"></script>
        <script src="{{ url_for('static', filename='justaworkoutdb.js') }}"></script>
    </head>
{% endmacro %}

{% macro flashes() -%}
    {% with messages = get_flashed_messages(with_categories=True, category_filter=['success']) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% with messages = get_flashed_messages(with_categories=True, category_filter=['info']) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% with messages = get_flashed_messages(with_categories=True, category_filter=['warning']) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% with messages = get_flashed_messages(with_categories=True, category_filter=['error']) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endmacro %}

{% macro form_errors_rec(form, errors) %}
    {% for field_name, field_errors in errors %}
        {% for error in field_errors %}
            {% if error is string %}
                <div class="alert alert-danger" role="alert">{{ form[field_name].label }}: {{ error }}</div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endmacro %}

{% macro form_errors(form) -%}
    {{ form_errors_rec(form, form.errors.iteritems()) }}
{% endmacro %}

{% macro logged_exercise_widget(form) -%}
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">{{ form.exercise.data.name }}
                <a class="pull-right erase-logged_item" href="javascript:void(0);"><i class="fa fa-close"></i></a>
            </div>
            <div class="panel-body">
                {{ form_errors(form) }}
                {{ form.exercise() }}
                <div class="form-group">
                    {{ form.sets.label }}:
                    {{ form.sets(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.reps.label }}:
                    {{ form.reps(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.weight.label }}:
                    {{ form.weight(class="form-control") }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro google_analytics() -%}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-34950733-2', 'auto');
  ga('send', 'pageview');

</script>
{% endmacro %}