{% import 'widgets.html' as widgets %}

{% extends "layout.html" %}
{% set active_page = 'workouts' -%}


{% block pagecontent %}

<div class="page-title">
    <h1>Add a Workout Session</h1>
    <p></p>
    <hr>
</div>

{{ widgets.form_errors(form) }}

<div class="row">
    <div class="col-md-2">
        <div class="btn-group-vertical" role="group">
            {% for exercise in exercises %}
            <button type="button" class="btn btn-default">{{ exercise.name }}</button>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-10">
        <form class="form add-exercise" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.date_logged.label }}:
                {{ form.date_logged(class="form-control input-datepicker", **{'data-value':form.date_logged.data}) }}
            </div>

            <div class="add_log_item">
                <div class="panel panel-default logged_item">
                    <div class="panel-heading">Add a Logged Item</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Exercise</label>
                            <select class="form-control">
                                <option value="2">Dumbell Deadlift</option>
                                <option value="1">Test Exercise</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Sets</label>
                            <input class="form-control" type="text" value="1">
                        </div>
                        <div class="form-group">
                            <label>Reps</label>
                            <input class="form-control" type="text" value="1">
                        </div>
                    </div>
                </div>
            </div>

            <div class="logged_items row">
                {{ form.logged_exercises() }}
                <div class="col-md-6">
                    <div class="panel panel-default logged_item">
                        <div class="panel-heading">Add Exercise</div>
                        <div class="panel-body">
                            Add
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-default">Create Session</button>
        </form>
    </div>
</div>
{% endblock %}